<p-card
  class="p-0 flex"
  styleClass="w-full surface-50 border-round border-2 border-green-500
  {{ alreadyVoted() ? 'border-green-500' : 'border-gray-500' }}"
>
  <div class="p-card-title h-6rem">
    {{ poll().poll_title }}
  </div>
  <ng-template pTemplate="header">
    <div class="flex border-round-top overflow-hidden">
      @if (poll().poll_option_image_urls) { @for (image of
      poll().poll_option_image_urls; track $index) {
      <img class="w-6 h-10rem" src="{{ image }}" alt="poll option" />
      } } @else{
      <div class="w-full h-10rem {{ color() }}"></div>
      }
    </div>
  </ng-template>

  <p class="m-0 h-8rem text-wrap">
    {{ poll().poll_description }}
  </p>

  <ng-template pTemplate="footer">
    <div class="w-full flex gap-3 mb-3 text-nowrap">
      <button
        *ngFor="let button of buttons(); let i = index"
        pButton
        pRipple
        [severity]="
          alreadyVoted() && poll().userVote?.option_selected === i
            ? 'success'
            : 'secondary'
        "
        (click)="handleSelection(i)"
        [disabled]="alreadyVoted() || processing() || !userAuthenticated()"
        [outlined]="!button.isSelected"
        [raised]="button.isSelected"
        label="{{ button.label }}"
        class="flex-grow-1 w-6"
      ></button>
    </div>
    <!-- force ui refresh after submitting vote -->
    @if(buttons()){
    <div class="w-full flex gap-3">
      <button
        pButton
        pRipple
        [disabled]="optionSelected() || alreadyVoted()"
        (click)="handleSubmit(poll().id)"
        [loading]="processing()"
        [severity]="!userAuthenticated() ? 'secondary' : 'success'"
        [raised]="true"
        [icon]="!userAuthenticated() ? 'pi pi-lock' : ''"
        label="{{
          !userAuthenticated()
            ? 'Login to Vote and View Results'
            : alreadyVoted()
            ? 'Already Voted'
            : processing()
            ? 'Voting'
            : 'Vote'
        }}"
        class="flex-grow-1"
      ></button>
    </div>
    }

    <!-- comment for readability -->
    @if(alreadyVoted()){
    <div class="slidedown-animation overflow-hidden">
      <p-divider />
      <div class="mt-3 text-center">
        {{ this.poll().poll_votes_total }} total votes
      </div>
      <div class="mt-3">
        <p-meterGroup [value]="meterValues()" />
      </div>
    </div>
    }
  </ng-template>
</p-card>
